.App {
  text-align: center;
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:  #282c34;
}

.App-link {
  color: #09d3ac;
}

input {
  margin: 15px 30px;
}

button {
  margin: 15px 30px;
}
